#backButton{
    width: 70px;
    height: 25px;
    font-size: 20px;
    background-color: rgb(233, 233, 233);
    top: 5px;
    position: absolute;
}
h1{
    font-size: 70px;
    text-align: center;
}
#title{
    width: 300px;
    margin: 35px auto;
}
#button{
    width: 300px;
    height: 153px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
button.game{
    font-size: 40px;
    width: 300px;
    height: 60px;
    color: gray;
    background-color: rgb(233, 233, 233);
}
#tetris{
    font-size: 35px;
    top: 5px;
    position: relative;
}
#author{
    font-size: 20px;
    width: 200px;
    top: 10px;
    left: 50px;
    background: cornsilk;
    color: rosybrown;
    position: relative;
}