#tittle{
    width: 700px;
    margin: 50px auto;
    text-align: center;
}
h1{
    font-size: 50px;
}
#buttons{
    width: 500px;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
#buttons *{
    font-size: 35px;
    width: 400px;
    height: 60px;
    background-color: rgb(243, 219, 183);
}
#blogs{
    top: 5px;
    position: relative;
}
#github{
    font-size: 20px;
    width: 200px;
    height: 30px;
    top: 130px;
    right: 50px;
    color: rgb(226, 226, 226);
    background-color: rgb(107, 103, 96);
    position: absolute;
}
#padding{
    width: 80%;
    padding: 5px;
    margin: 0 auto;
    background-color: rgb(255, 240, 210);
}
#lastBlog{
    width: 80%;
    height: auto;
    margin: 0 auto;
}
h2{
    font-size: 30px;
}
#lastBlog p{
    font-size: 18px;
}