#tittle{
    width: 100%;
    margin: 50px auto;
    text-align: center;
}
h1{
    font-size: 60px;
}
#padding{
    width: 90%;
    padding: 5px;
    margin: 0 auto;
    background-color: rgb(255, 240, 210);
    border-radius: 30px;
}
#lastBlog{
    width: 90%;
    height: auto;
    margin: 0 auto;
}
h2{
    font-size: 30px;
}
#lastBlog p{
    font-size: 18px;
}