#restart{
    font-size: 20px;
    color: teal;
    background: wheat;
    width: 200px;
    height: 50px;
}
#button{
    text-align: center;
    margin: -50px auto;
    width: 640px;
    position: relative;
}
#backGround{
    background: royalblue;
    width: 640px;
    height: 640px;
    padding: 5px;
    margin: 100px auto;
    position: relative;
}
.block{
    width: 32px;
    height: 32px;
    background: black;
    margin: 0;
    position: absolute;
}
#re{
    left: 100px;
    position: absolute;
}
#direction{
    left: 400px;
    top: -10px;
    line-height: 35px;
    position: absolute;
}
#direction button{
    font-size: 20px;
    width: 30px;
    height: 30px;
}