#text{
    width: 700px;
    height: auto;
    padding: 10px;
    background-color: rgb(240, 211, 174);
    border-radius: 30px;
    margin: 100px auto;
}
#text h1{
    font-size: 30px;
    text-align: center;
}
#text p{
    font-size: 25px;
    white-space: pre-wrap;
}
#backBlock{
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 50px;
}
#pageNum{
    width: 80px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    background-color: rgb(233, 233, 233);
    margin: -30px auto;
    border-radius: 10px;
}
#pages{
    height: 30px;
    padding: 5px;
    background-color: rgb(255, 242, 224);
    border-radius: 30px;
    margin: 50px auto;
    position: relative;
}
.page{
    font-size: 20px;
    width: 30px;
    height: 30px;
    color: black;
    background-color: rgb(125, 154, 248);
    border-radius: 30px;
    position: relative;
    display: inline-block;
    text-align: center;
    user-select: none;
}
#now{
    background-color: rgb(66, 101, 167);
}
.null{
    font-size: 20px;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
}