#backButton{
    width: 70px;
    height: 25px;
    font-size: 20px;
    background-color: rgb(233, 233, 233);
    top: 5px;
    position: absolute;
}
#text{
    width: 700px;
    height: auto;
    padding: 10px;
    background-color: rgb(240, 211, 174);
    background-image: url(./backImage.gif);
    margin: 100px auto;
}
#text h1{
    font-size: 30px;
    text-align: center;
}
#text p{
    font-size: 25px;
    white-space: pre-wrap;
}
#backBlock{
    width: 700px;
    height: auto;
    margin: 0 auto;
}
#pageNum{
    width: 80px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    background-color: rgb(233, 233, 233);
    margin: -30px auto;
}
#pages{
    height: 30px;
    padding: 5px;
    background-color: black;
    margin: 50px auto;
}
.page{
    font-size: 20px;
    width: 30px;
    height: 30px;
    color: black;
    background-color: rgb(233, 233, 233);
}