#backButton{
    width: 70px;
    height: 25px;
    font-size: 20px;
    background-color: rgb(233, 233, 233);
    top: 5px;
    position: absolute;
}
#restart{
    font-size: 25px;
    color: teal;
    background: wheat;
    width: 200px;
    height: 50px;
}
#button{
    text-align: center;
    margin: -50px auto;
    width: 640px;
    position: relative;
}
#backGround{
    background: royalblue;
    width: 640px;
    height: 640px;
    padding: 5px;
    margin: 100px auto;
    position: relative;
}
.block{
    width: 32px;
    height: 32px;
    background: black;
    position: absolute;
}
#re{
    left: 50px;
    top: 65px;
    position: absolute;
}
#direction{
    width: 400px;
    left: 250px;
    top: -10px;
    line-height: 65px;
    position: absolute;
}
#direction button{
    font-size: 80px;
    width: 100px;
    height: 100px;
    background-color: rgb(233, 233, 233);
}